.grillaDeFormulario{
    grid-template-areas: 
    "cabecera"
    "formulario"
    "pieDePagina";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,auto);
    height: 100%;
    .fondo--formulario{
        background-image: url("../imagenes/fondo_form.jpg");
        background-size: contain;
        background-repeat: repeat;
        background-position: center;
        .formulario{
            text-align: center;
            grid-area: formulario;
            .enviar{
                cursor: pointer;
                background-color: #212850;
                color: #BEA881;
                transition: map-get($transitions, transitionContacto);
                &:hover{
                    padding: 2px;
                }
            }
            .azul{
                background-color: #212850;
                color:#BEA881;
            }
            .blanco{
                color: #BEA881;
            }
            }        
    }
    .fondo--formulario::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        opacity: 0.6;
    }
    .formulario,
    .pieDePagina{
        position: relative;
    }
}
