%titulosGaleria{
    margin: 10px;
    padding: 5px;
    background-color: black;
    color:#BEA881;
    border-radius: 05px;
    text-align: center;
}

%fotosGaleria{
    margin: 15px;
        border-top: 10px solid #BEA881;
        border-right: 10px solid black;
        border-left:  10px solid black;
        border-bottom: 10px solid #BEA881;
        width: 370px;
        height: 325px;
        border-radius: 06px;
        transition: padding 0.8s;
        &:hover{
            padding: 5px;
        }
}

%textoHistoria{
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BEA881;
}
