.grillaDeGaleria{
display: grid;
grid-template-areas:
 "cabecera cabecera cabecera"
 "titulos1 titulos1 titulos1"
 "fotos1 fotos1 fotos1 "
 "titulos2 titulos2 titulos2"
 "fotos2 fotos2 fotos2"
 "pieDePagina pieDePagina pieDePagina"
;
grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr;
grid-template-columns: repeat(3,auto);
height: 100vh;
background-color: map-get($colores,colorDelca);
.titulos1{
    grid-area: titulos1;
    @extend %flexGaleria;
    .titulos--galeria{
       @extend %titulosGaleria;
        }
}
.fotos1{
    grid-area: fotos1;
    @extend %flexGaleria;
    .fotos--galeria{
        @extend %fotosGaleria;
    }
}
.titulos2{
    grid-area: titulos2;
    @extend %flexGaleria;
    .titulos--galeria{
      @extend %titulosGaleria;
    }
}
.fotos2{
    grid-area: fotos2;
    @extend %flexGaleria;
    .fotos--galeria{
       @extend %fotosGaleria;
    }
}
}

@media screen and (max-width: 599px) and (orientation:portrait) {
.grillaDeGaleria{
    grid-template-areas:
     "cabecera"
     "titulos1" 
     "fotos1"
     "titulos1"
     "fotos1"
     "titulos1"
     "fotos1"
     "titulos2"
     "fotos2" 
     "titulos2"
     "fotos2"
     "titulos2"
     "fotos2"
     "pieDePagina"
    ;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
    }
}

@media screen and (max-width: 599px) and (orientation:landscape) {
    .grillaDeGaleria{
        grid-template-areas:
         "cabecera cabecera"
         "titulos1 titulos1" 
         "fotos1 fotos1"
         "titulos1 titulos2"
         "fotos1 fotos2"
         "titulos2 titulos2"
         "fotos2 fotos2"
         "pieDePagina pieDePagina"
        ;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns:repeat(2,1fr);
        height: 100vh;
        }
        }

@media screen and (min-width:600px) and (max-width:1199px){
    
.grillaDeGaleria{
grid-template-areas:
"cabecera cabecera"
"titulos1 titulos1" 
"fotos1 fotos1"
"titulos1 titulos2"
"fotos1 fotos2"
"titulos2 titulos2"
"fotos2 fotos2"
"pieDePagina pieDePagina"
;
grid-template-rows: repeat(8, 1fr);
grid-template-columns:repeat(2,1fr);
height: 100vh;
}
}