.grillaDeHistoria{
    display: grid;
    grid-template-areas:
    "cabecera cabecera cabecera"
    "valor valor valor"
    "valores valores textoValores"
    "escudo escudo escudo"
    "textoEscudo textoEscudo viejo"
    "textoEscudo textoEscudo nuevo"
    "casaca casaca casaca"
    "camisetaFoto camisetaFoto textoCasaca"
    "tifa tifa tifa"
    "fotoTifa1 textoTifa fotoTifa2"
    "fotoTifa3 textoTifa fotoTifa4"
    "campeones campeones campeones"
    "campeonesFoto1 campeonesFoto1 campeonesTexto"
    "campeonesFoto2 campeonesFoto2 campeonesTexto"
    "ligaNuñez ligaNuñez ligaNuñez"
    "ligaTexto Liga1 Liga2"
    "ligaTexto Liga1 Liga2"
    "primera primera primera"
    "primera1 primeraTexto primera2"
    "primera3 primeraTexto primera4"
    "pieDePagina pieDePagina pieDePagina";
    grid-template-rows: 1fr 2fr 4fr 2fr 3fr 3fr 2fr 4fr 2fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 1fr;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 10px;
    row-gap: 10px;
    background-color: map-get($colores,colorDelca);
    height: 100vh;
    
    .textoValores,
    .textoEscudo,
    .textoCasaca,
    .textoTifa,
    .campeonesTexto,
    .ligaTexto,
    .primeraTexto{
       @extend %textoHistoria;
    }
    .textoValores{
        grid-area: textoValores;
    }
    .escudo--viejo{
    grid-area: viejo;
    }
    .escudo--nuevo{
    grid-area: nuevo;
    }
    .textoEscudo{
        grid-area: textoEscudo;
    }
    .ligaTexto{
        grid-area: ligaTexto;
    }
    .primeraTexto{
        grid-area: primeraTexto;
    }
    .valor,
    .casaca,
    .campeones,
    .primera{
     @include titulosHistoria (white);
    }
    .escudo,
    .tifa,
    .ligaNuñez{
      @include titulosHistoria (black);
    }
    .casaca{
        grid-area: casaca;
    }
    .camisetaFoto{
        grid-area: camisetaFoto;
    }
    .textoCasaca{
        grid-area: textoCasaca;
    }
    .tifa{
        grid-area: tifa;
    }
    .fotoTifa1{
        grid-area: fotoTifa1;
    }
    .textoTifa{
        grid-area: textoTifa;
    }
    .fotoTifa2{
        grid-area: fotoTifa2;
    }
    .fotoTifa3{
        grid-area: fotoTifa3;
    }
    .fotoTifa4{
    grid-area: fotoTifa4;
    }
    .campeones{
        grid-area: campeones;
    }
    .campeonesFoto1{
        grid-area: campeonesFoto1;
    }
    .campeonesTexto{
        grid-area: campeonesTexto;
    }
    .campeonesFoto2{
        grid-area: campeonesFoto2;
    }    
    .ligaNuñez{
        grid-area: ligaNuñez;
    }
    .valor{
        grid-area: valor;
    }
    .escudo{
        grid-area: escudo;
    }
    .valores{
        grid-area: valores;
    }
    .textoValores{
        grid-area: textoValores;
    }
    .valor{
        grid-area: valor;
    }
    .Liga1{
        grid-area: Liga1;
    }
    .Liga2{
        grid-area: Liga2;
    }
    .primera1{
        grid-area: primera1;
    }
    .primera2{
        grid-area: primera2;
    }
    .primera3{
        grid-area: primera3;
    }
    .primera4{
        grid-area: primera4;
    }
    }

@media screen and (max-width: 599px) and (orientation:portrait) {
    .grillaDeHistoria{
        grid-template-areas:
        "cabecera"
        "valor"
        "valores"
        "textoValores"
        "escudo"
        "viejo"
        "nuevo"
        "textoEscudo"
        "casaca"
        "camisetaFoto" 
        "textoCasaca"
        "tifa"
        "fotoTifa1"
        "fotoTifa2"
        "textoTifa"
        "fotoTifa3"
        "fotoTifa4"
        "campeones"
        "campeonesFoto1"
        "campeonesTexto"
        "campeonesFoto2"
        "ligaNuñez"
        "Liga1"
        "ligaTexto"
        "Liga2"
        "primera"
        "primera1"
        "primera2"
        "primeraTexto"
        "primera3"
        "primera4"
        "pieDePagina";
        grid-template-rows: 1fr 2fr 3fr 3fr 2fr 2fr 2fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr 3fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 10px;
        height: 100vh;
    }
    }

    @media screen and (max-width: 599px) and (orientation:landscape) {
        .grillaDeHistoria{
            grid-template-areas:
        "cabecera cabecera"
        "valor valor"
        "valores textoValores"
        "escudo escudo "
        "viejo nuevo"
        "textoEscudo textoEscudo"
        "casaca casaca"
        "textoCasaca camisetaFoto"
        "tifa tifa"
        "fotoTifa1 fotoTifa2"
        "textoTifa textoTifa"
        "fotoTifa3 fotoTifa4"
        "campeones campeones"
        "campeonesFoto1 campeonesTexto"
        "campeonesFoto2 campeonesTexto"
        "ligaNuñez ligaNuñez"
        "ligaTexto ligaTexto"
        "Liga1 Liga2"
        "primera primera"
        "primera1 primera2"
        "primeraTexto primeraTexto"
        "primera3 primera4"
        "pieDePagina pieDePagina";
        grid-template-rows: 1fr 2fr 4fr 2fr 3fr 3fr 2fr 4fr 2fr 3fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 3fr 1fr;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        row-gap: 10px;
        height: 100vh;
        }
}

@media screen and (min-width:600px) and (max-width:1199px){
    .grillaDeHistoria{
        grid-template-areas:
    "cabecera cabecera"
    "valor valor"
    "valores textoValores"
    "escudo escudo "
    "viejo nuevo"
    "textoEscudo textoEscudo"
    "casaca casaca"
    "textoCasaca camisetaFoto"
    "tifa tifa"
    "fotoTifa1 fotoTifa2"
    "textoTifa textoTifa"
    "fotoTifa3 fotoTifa4"
    "campeones campeones"
    "campeonesFoto1 campeonesTexto"
    "campeonesFoto2 campeonesTexto"
    "ligaNuñez ligaNuñez"
    "ligaTexto ligaTexto"
    "Liga1 Liga2"
    "primera primera"
    "primera1 primera2"
    "primeraTexto primeraTexto"
    "primera3 primera4"
    "pieDePagina pieDePagina";
    grid-template-rows: 1fr 2fr 4fr 2fr 3fr 3fr 2fr 4fr 2fr 3fr 3fr 3fr 2fr 4fr 4fr 2fr 3fr 3fr 2fr 3fr 3fr 3fr 1fr;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
    }  
    }