.grillaDeInicio{
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "tittle tittle tittle"
    "benditos benditos benditos"
    "novedades novedades novedades"
    "santi copa neyen"
    "santiTexto copaTexto neyenTexto"
    "pieDePagina pieDePagina pieDePagina"
    ;
    grid-template-rows: 1fr 1fr 2fr 1fr 2fr 2fr 1fr;
    grid-template-columns: 2fr 2fr 2fr;
    height: 100vh;
    background-color: map-get($colores,colorDelca);

    .tittle{
        grid-area: tittle;
        display: flex;
        margin: 20px;
        align-items: center;
        justify-content: center;
        color: #BEA881;
        border-radius: map-get($tamanos,borderRadius);
        background-color:black;
    }

    .novedades{
        grid-area: novedades;
        display: flex;
        margin: 10px;
        align-items: center;
        justify-content: center;
        border-radius: map-get($tamanos,borderRadius);
        background-color:black;
        color: #BEA881;
    }

    .benditos{
        grid-area: benditos;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        margin: 20px;
        background-color: map-get($colores,colorDelca);
    }
    .santi{
        grid-area: santi;
    }
    
    .neyen{
        grid-area: neyen;
    }
    
    .copa{
        grid-area: copa;
    }
    
    .santiTexto{
        grid-area: santiTexto;
        text-align: center;
        background-color: map-get($colores,colorDelca);
        color: #BEA881;
    }
    
    .copaTexto{
        grid-area: copaTexto;
        text-align: center;
        background-color: white;
        color: #BEA881;
    }
    
    .neyenTexto{
        grid-area: neyenTexto;
        text-align: center;
        background-color: map-get($colores,colorDelca);
        color: #BEA881;
    }    
    }





@media screen and (max-width: 599px) and (orientation:portrait) {

    .grillaDeInicio{
        grid-template-areas: 
        "cabecera"
        "tittle" 
        "benditos" 
        "novedades"
        "santi"
        "santiTexto"
        "copa"
        "copaTexto"
        "neyen" 
        "neyenTexto"
        "pieDePagina"
        ;
        grid-template-rows: repeat(11, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;
        .santiTexto,
        .copaTexto,
        .neyenTexto{
           font-size: map-get($tamanos, letraScreen);
        }
        .grande{
            display: none;
        }
    }
}

@media screen and (max-width: 599px) and (orientation:landscape) {
    .grillaDeInicio{
        grid-template-areas: 
        "cabecera cabecera"
        "tittle tittle"
        "benditos benditos"
        "novedades novedades"
        "santi copa"
        "santiTexto copaTexto"
        "neyen neyenTexto" 
        "pieDePagina pieDePagina"
        ;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(2,1fr);
        height: 100vh;
        .santiTexto,
        .copaTexto,
        .neyenTexto{
           font-size: map-get($tamanos, letraScreen);
        }
    }
    }

    @media screen and (min-width:600px) and (max-width:1199px){
        .grillaDeInicio{
            grid-template-areas: 
            "cabecera cabecera"
            "tittle tittle"
            "benditos benditos"
            "novedades novedades"
            "santi copa"
            "santiTexto copaTexto"
            "neyen neyenTexto" 
            "pieDePagina pieDePagina"
            ;
            grid-template-rows: repeat(8, 1fr);
            grid-template-columns: repeat(2,1fr);
            height: 100vh;    
        .santiTexto,
        .copaTexto,
        .neyenTexto{
           font-size: map-get($tamanos, letraScreen)
        }
        }
    }    