$colores: (
 colorDelca: #212850,
 colorTexto: white,
 dorado: #BEA881
);

$tamanos: (
 borderRadius: 25px,
 letraScreen: 30px
);

$transitions: (
 transitionGaleria:  padding 0.5s,
 transitionContacto: padding 0.5s
);