$colores: (
 colorDelca: #1033a3,
 colorTexto: white,
 dorado: #c1c10b
);

$tamanos: (
 borderRadius: 25px,
 letraScreen: 15px
);

$transitions: (
 transitionGaleria:  padding 0.5s,
 transitionContacto: padding 0.5s 
);