@mixin titulosHistoria($colorTitulo){
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BEA881;
    border-radius: map-get($tamanos,borderRadius);
    background-color:$colorTitulo;
}