@mixin tutulosHistoria($colorTitulo){
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($colores,colorDelca);
    border-radius: map-get($tamanos,borderRadius);
    background-color:$colorTitulo;
}