@charset "UTF-8";
.grillaDeGaleria .titulos--galeria {
  margin: 10px;
  padding: 5px;
  background-color: black;
  color: #BEA881;
  border-radius: 5px;
  text-align: center;
}

.grillaDeGaleria .fotos--galeria {
  margin: 15px;
  border-top: 10px solid #BEA881;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-bottom: 10px solid #BEA881;
  width: 370px;
  height: 325px;
  border-radius: 6px;
  transition: padding 0.8s;
}
.grillaDeGaleria .fotos--galeria:hover {
  padding: 5px;
}

.grillaDeHistoria .textoValores,
.grillaDeHistoria .textoEscudo,
.grillaDeHistoria .textoCasaca,
.grillaDeHistoria .textoTifa,
.grillaDeHistoria .campeonesTexto,
.grillaDeHistoria .ligaTexto,
.grillaDeHistoria .primeraTexto {
  font-size: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BEA881;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: kanit;
}

/* 
.border{
    border: 02px solid blue;
} */
.cabecera {
  grid-area: cabecera;
  background-image: linear-gradient(to left, #212850, black);
}
.cabecera .cabecera--foto {
  display: inline-block;
  margin: 10px;
}
.cabecera .cabecera--titulo {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  bottom: 25px;
  color: #BEA881;
}
.cabecera .cabecera--navegador {
  background-color: black;
  text-align: right;
  padding: 10px;
}
.cabecera .cabecera--navegador li {
  display: inline-block;
  background-color: black;
  list-style: none;
  margin-left: 5px;
  color: #BEA881;
}

.pieDePagina {
  text-align: center;
  font-weight: 900;
  grid-area: pieDePagina;
  background-color: black;
  color: #BEA881;
}

@font-face {
  font-family: kanit;
  src: url("../fuentes/Kanit-MediumItalic.ttf");
}
.grillaDeInicio {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "tittle tittle tittle" "benditos benditos benditos" "novedades novedades novedades" "santi copa neyen" "santiTexto copaTexto neyenTexto" "pieDePagina pieDePagina pieDePagina";
  grid-template-rows: 1fr 1fr 2fr 1fr 2fr 2fr 1fr;
  grid-template-columns: 2fr 2fr 2fr;
  height: 100vh;
  background-color: #212850;
}
.grillaDeInicio .tittle {
  grid-area: tittle;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: #BEA881;
  border-radius: 25px;
  background-color: black;
}
.grillaDeInicio .novedades {
  grid-area: novedades;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: black;
  color: #BEA881;
}
.grillaDeInicio .benditos {
  grid-area: benditos;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #212850;
}
.grillaDeInicio .santi {
  grid-area: santi;
}
.grillaDeInicio .neyen {
  grid-area: neyen;
}
.grillaDeInicio .copa {
  grid-area: copa;
}
.grillaDeInicio .santiTexto {
  grid-area: santiTexto;
  text-align: center;
  background-color: #212850;
  color: #BEA881;
}
.grillaDeInicio .copaTexto {
  grid-area: copaTexto;
  text-align: center;
  background-color: white;
  color: #BEA881;
}
.grillaDeInicio .neyenTexto {
  grid-area: neyenTexto;
  text-align: center;
  background-color: #212850;
  color: #BEA881;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDeInicio {
    grid-template-areas: "cabecera" "tittle" "benditos" "novedades" "santi" "santiTexto" "copa" "copaTexto" "neyen" "neyenTexto" "pieDePagina";
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .grillaDeInicio .santiTexto,
.grillaDeInicio .copaTexto,
.grillaDeInicio .neyenTexto {
    font-size: 30px;
  }
  .grillaDeInicio .grande {
    display: none;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDeInicio {
    grid-template-areas: "cabecera cabecera" "tittle tittle" "benditos benditos" "novedades novedades" "santi copa" "santiTexto copaTexto" "neyen neyenTexto" "pieDePagina pieDePagina";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
  .grillaDeInicio .santiTexto,
.grillaDeInicio .copaTexto,
.grillaDeInicio .neyenTexto {
    font-size: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDeInicio {
    grid-template-areas: "cabecera cabecera" "tittle tittle" "benditos benditos" "novedades novedades" "santi copa" "santiTexto copaTexto" "neyen neyenTexto" "pieDePagina pieDePagina";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
  .grillaDeInicio .santiTexto,
.grillaDeInicio .copaTexto,
.grillaDeInicio .neyenTexto {
    font-size: 30px;
  }
}
.grillaDePlantel {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera cabecera" "lolo lolo lolo lolo lolo lolo lolo" "pache santi santi balta fabri fabri rusca" "pache gato gato balta juan juan rusca" "mussi mussi mussi mussi mussi mussi mussi" "crispa crispa crispa niño neyen neyen neyen" "pieDePagina pieDePagina pieDePagina pieDePagina pieDePagina  pieDePagina  pieDePagina";
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  height: 100vh;
  background-color: #212850;
}
.grillaDePlantel .lolo {
  grid-area: lolo;
}
.grillaDePlantel .pache {
  grid-area: pache;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}
.grillaDePlantel .santi2 {
  grid-area: santi;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.grillaDePlantel .balta {
  grid-area: balta;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.grillaDePlantel .fabri {
  grid-area: fabri;
  display: flex;
  justify-content: end;
}
.grillaDePlantel .rusca {
  grid-area: rusca;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.grillaDePlantel .juan {
  grid-area: juan;
  justify-content: start;
}
.grillaDePlantel .gato {
  grid-area: gato;
  display: flex;
  justify-content: end;
}
.grillaDePlantel .mussi {
  grid-area: mussi;
}
.grillaDePlantel .crispa {
  grid-area: crispa;
  display: flex;
  justify-content: end;
}
.grillaDePlantel .niño {
  grid-area: niño;
}
.grillaDePlantel .neyen2 {
  grid-area: neyen;
  display: flex;
  justify-content: start;
}
.grillaDePlantel section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDePlantel {
    grid-template-areas: "cabecera cabecera cabecera" "lolo lolo lolo" "pache balta rusca" "santi balta fabri" "gato balta juan" "mussi mussi mussi" "crispa niño neyen" "pieDePagina pieDePagina pieDePagina";
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
    height: 100vh;
  }
  .grillaDePlantel section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grillaDePlantel .juan {
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDePlantel {
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "lolo lolo lolo lolo lolo" "pache santi balta fabri rusca" "gato gato balta juan juan" "mussi mussi mussi mussi mussi" "crispa crispa niño neyen neyen" "pieDePagina pieDePagina pieDePagina pieDePagina pieDePagina";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDePlantel {
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "lolo lolo lolo lolo lolo" "pache santi balta fabri rusca" "gato gato balta juan juan" "mussi mussi mussi mussi mussi" "crispa crispa niño neyen neyen" "pieDePagina pieDePagina pieDePagina pieDePagina pieDePagina";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
    height: 100vh;
  }
}
.grillaDeHistoria {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "valor valor valor" "valores valores textoValores" "escudo escudo escudo" "textoEscudo textoEscudo viejo" "textoEscudo textoEscudo nuevo" "casaca casaca casaca" "camisetaFoto camisetaFoto textoCasaca" "tifa tifa tifa" "fotoTifa1 textoTifa fotoTifa2" "fotoTifa3 textoTifa fotoTifa4" "campeones campeones campeones" "campeonesFoto1 campeonesFoto1 campeonesTexto" "campeonesFoto2 campeonesFoto2 campeonesTexto" "ligaNuñez ligaNuñez ligaNuñez" "ligaTexto Liga1 Liga1" "ligaTexto Liga2 Liga2" "primera primera primera" "primera1 primeraTexto primera2" "primera3 primeraTexto primera4" "pieDePagina pieDePagina pieDePagina";
  grid-template-rows: 1fr 2fr 4fr 2fr 3fr 3fr 2fr 4fr 2fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 1fr;
  grid-template-columns: 2fr 2fr 2fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  background-color: #212850;
  height: 100vh;
}
.grillaDeHistoria .textoValores {
  grid-area: textoValores;
}
.grillaDeHistoria .escudo--viejo {
  grid-area: viejo;
}
.grillaDeHistoria .escudo--nuevo {
  grid-area: nuevo;
}
.grillaDeHistoria .textoEscudo {
  grid-area: textoEscudo;
}
.grillaDeHistoria .ligaTexto {
  grid-area: ligaTexto;
}
.grillaDeHistoria .primeraTexto {
  grid-area: primeraTexto;
}
.grillaDeHistoria .valor,
.grillaDeHistoria .casaca,
.grillaDeHistoria .campeones,
.grillaDeHistoria .primera {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BEA881;
  border-radius: 25px;
  background-color: white;
}
.grillaDeHistoria .escudo,
.grillaDeHistoria .tifa,
.grillaDeHistoria .ligaNuñez {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BEA881;
  border-radius: 25px;
  background-color: black;
}
.grillaDeHistoria .casaca {
  grid-area: casaca;
}
.grillaDeHistoria .camisetaFoto {
  grid-area: camisetaFoto;
}
.grillaDeHistoria .textoCasaca {
  grid-area: textoCasaca;
}
.grillaDeHistoria .tifa {
  grid-area: tifa;
}
.grillaDeHistoria .fotoTifa1 {
  grid-area: fotoTifa1;
}
.grillaDeHistoria .textoTifa {
  grid-area: textoTifa;
}
.grillaDeHistoria .fotoTifa2 {
  grid-area: fotoTifa2;
}
.grillaDeHistoria .fotoTifa3 {
  grid-area: fotoTifa3;
}
.grillaDeHistoria .fotoTifa4 {
  grid-area: fotoTifa4;
}
.grillaDeHistoria .campeones {
  grid-area: campeones;
}
.grillaDeHistoria .campeonesFoto1 {
  grid-area: campeonesFoto1;
}
.grillaDeHistoria .campeonesTexto {
  grid-area: campeonesTexto;
}
.grillaDeHistoria .campeonesFoto2 {
  grid-area: campeonesFoto2;
}
.grillaDeHistoria .ligaNuñez {
  grid-area: ligaNuñez;
}
.grillaDeHistoria .valor {
  grid-area: valor;
}
.grillaDeHistoria .escudo {
  grid-area: escudo;
}
.grillaDeHistoria .valores {
  grid-area: valores;
}
.grillaDeHistoria .textoValores {
  grid-area: textoValores;
}
.grillaDeHistoria .valor {
  grid-area: valor;
}
.grillaDeHistoria .Liga1 {
  grid-area: Liga1;
}
.grillaDeHistoria .Liga2 {
  grid-area: Liga2;
}
.grillaDeHistoria .primera1 {
  grid-area: primera1;
}
.grillaDeHistoria .primera2 {
  grid-area: primera2;
}
.grillaDeHistoria .primera3 {
  grid-area: primera3;
}
.grillaDeHistoria .primera4 {
  grid-area: primera4;
}
.grillaDeHistoria .primera {
  grid-area: primera;
}

@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDeHistoria {
    grid-template-areas: "cabecera" "valor" "valores" "textoValores" "escudo" "viejo" "nuevo" "textoEscudo" "casaca" "camisetaFoto" "textoCasaca" "tifa" "fotoTifa1" "fotoTifa2" "textoTifa" "fotoTifa3" "fotoTifa4" "campeones" "campeonesFoto1" "campeonesTexto" "campeonesFoto2" "ligaNuñez" "Liga1" "ligaTexto" "Liga2" "primera" "primera1" "primera2" "primeraTexto" "primera3" "primera4" "pieDePagina";
    grid-template-rows: 1fr 2fr 3fr 3fr 2fr 2fr 2fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr 3fr 1fr;
    grid-template-columns: 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    height: 100vh;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDeHistoria {
    grid-template-areas: "cabecera cabecera" "valor valor" "valores textoValores" "escudo escudo " "viejo nuevo" "textoEscudo textoEscudo" "casaca casaca" "textoCasaca camisetaFoto" "tifa tifa" "fotoTifa1 fotoTifa2" "textoTifa textoTifa" "fotoTifa3 fotoTifa4" "campeones campeones" "campeonesFoto1 campeonesTexto" "campeonesFoto2 campeonesTexto" "ligaNuñez ligaNuñez" "ligaTexto ligaTexto" "Liga1 Liga2" "primera primera" "primera1 primera2" "primeraTexto primeraTexto" "primera3 primera4" "pieDePagina pieDePagina";
    grid-template-rows: 1fr 2fr 4fr 2fr 3fr 3fr 2fr 4fr 2fr 3fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 2fr 3fr 3fr 3fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDeHistoria {
    grid-template-areas: "cabecera cabecera" "valor valor" "valores textoValores" "escudo escudo " "viejo nuevo" "textoEscudo textoEscudo" "casaca casaca" "textoCasaca camisetaFoto" "tifa tifa" "fotoTifa1 fotoTifa2" "textoTifa textoTifa" "fotoTifa3 fotoTifa4" "campeones campeones" "campeonesFoto1 campeonesTexto" "campeonesFoto2 campeonesTexto" "ligaNuñez ligaNuñez" "ligaTexto ligaTexto" "Liga1 Liga2" "primera primera" "primera1 primera2" "primeraTexto primeraTexto" "primera3 primera4" "pieDePagina pieDePagina";
    grid-template-rows: 1fr 2fr 4fr 2fr 3fr 3fr 2fr 4fr 2fr 3fr 3fr 3fr 2fr 4fr 4fr 2fr 3fr 3fr 2fr 3fr 3fr 3fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
}
.grillaDeGaleria {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "titulouno titulodos titulotres" "fotouno fotodos fototres" "titulocuatro titulocinco tituloseis" "fotocuatro fotocinco fotoseis" "titulosiete tituloocho titulonueve" "fotosiete fotoocho fotonueve" "titulodiez tituloonce titulodoce" "fotodiez fotoonce fotodoce" "titulotrece titulocatorce tituloquince" "fototrece fotocatorce fotoquince" "titulodieciseis titulodiecisiete titulodieciocho" "fotodieciseis fotodiecisiete fotodieciocho" "titulodiecinueve tituloveinte tituloveintiuno" "fotodiecinueve fotoveinte fotoveintiuno" "tituloveintidos tituloveintitres tituloveinticuatro" "fotoveintidos fotoveintitres fotoveinticuatro" "pieDePagina pieDePagina pieDePagina";
  grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-columns: repeat(3, auto);
  height: 100vh;
  background-color: #212850;
}
.grillaDeGaleria .titulouno {
  grid-area: titulouno;
}
.grillaDeGaleria .titulodos {
  grid-area: titulodos;
}
.grillaDeGaleria .titulotres {
  grid-area: titulotres;
}
.grillaDeGaleria .fotouno {
  grid-area: fotouno;
}
.grillaDeGaleria .fotodos {
  grid-area: fotodos;
}
.grillaDeGaleria .fototres {
  grid-area: fototres;
}
.grillaDeGaleria .titulocuatro {
  grid-area: titulocuatro;
}
.grillaDeGaleria .titulocinco {
  grid-area: titulocinco;
}
.grillaDeGaleria .tituloseis {
  grid-area: tituloseis;
}
.grillaDeGaleria .fotocuatro {
  grid-area: fotocuatro;
}
.grillaDeGaleria .fotocinco {
  grid-area: fotocinco;
}
.grillaDeGaleria .fotoseis {
  grid-area: fotoseis;
}
.grillaDeGaleria .titulosiete {
  grid-area: titulosiete;
}
.grillaDeGaleria .tituloocho {
  grid-area: tituloocho;
}
.grillaDeGaleria .titulonueve {
  grid-area: titulonueve;
}
.grillaDeGaleria .fotosiete {
  grid-area: fotosiete;
}
.grillaDeGaleria .fotoocho {
  grid-area: fotoocho;
}
.grillaDeGaleria .fotonueve {
  grid-area: fotonueve;
}
.grillaDeGaleria .titulodiez {
  grid-area: titulodiez;
}
.grillaDeGaleria .tituloonce {
  grid-area: tituloonce;
}
.grillaDeGaleria .titulodoce {
  grid-area: titulodoce;
}
.grillaDeGaleria .fotodiez {
  grid-area: fotodiez;
}
.grillaDeGaleria .fotoonce {
  grid-area: fotoonce;
}
.grillaDeGaleria .fotodoce {
  grid-area: fotodoce;
}
.grillaDeGaleria .titulotrece {
  grid-area: titulotrece;
}
.grillaDeGaleria .titulocatorce {
  grid-area: titulocatorce;
}
.grillaDeGaleria .tituloquince {
  grid-area: tituloquince;
}
.grillaDeGaleria .fototrece {
  grid-area: fototrece;
}
.grillaDeGaleria .fotocatorce {
  grid-area: fotocatorce;
}
.grillaDeGaleria .fotoquince {
  grid-area: fotoquince;
}
.grillaDeGaleria .titulodieciseis {
  grid-area: titulodieciseis;
}
.grillaDeGaleria .titulodiecisiete {
  grid-area: titulodiecisiete;
}
.grillaDeGaleria .titulodieciocho {
  grid-area: titulodieciocho;
}
.grillaDeGaleria .fotodieciseis {
  grid-area: fotodieciseis;
}
.grillaDeGaleria .fotodiecisiete {
  grid-area: fotodiecisiete;
}
.grillaDeGaleria .fotodieciocho {
  grid-area: fotodieciocho;
}
.grillaDeGaleria .titulodiecinueve {
  grid-area: titulodiecinueve;
}
.grillaDeGaleria .tituloveinte {
  grid-area: tituloveinte;
}
.grillaDeGaleria .tituloveintiuno {
  grid-area: tituloveintiuno;
}
.grillaDeGaleria .fotodiecinueve {
  grid-area: fotodiecinueve;
}
.grillaDeGaleria .fotoveinte {
  grid-area: fotoveinte;
}
.grillaDeGaleria .fotoveintiuno {
  grid-area: fotoveintiuno;
}
.grillaDeGaleria .tituloveintidos {
  grid-area: tituloveintidos;
}
.grillaDeGaleria .tituloveintitres {
  grid-area: tituloveintitres;
}
.grillaDeGaleria .tituloveinticuatro {
  grid-area: tituloveinticuatro;
}
.grillaDeGaleria .fotoveintidos {
  grid-area: fotoveintidos;
}
.grillaDeGaleria .fotoveintitres {
  grid-area: fotoveintitres;
}
.grillaDeGaleria .fotoveinticuatro {
  grid-area: fotoveinticuatro;
}
@media screen and (max-width: 599px) and (orientation: portrait) {
  .grillaDeGaleria {
    grid-template-areas: "cabecera" "titulouno" "fotouno" "titulodos" "fotodos" "titulotres" "fototres" "titulocuatro" "fotocuatro" "titulocinco" "fotocinco" "tituloseis" "fotoseis" "titulosiete" "fotosiete" "tituloocho" "fotoocho" "titulonueve" "fotonueve" "titulodiez" "fotodiez" "tituloonce" "fotoonce" "titulodoce" "fotodoce" "titulotrece" "fototrece" "titulocatorce" "fotocatorce" "tituloquince" "fotoquince" "titulodieciseis" "fotodieciseis" "titulodiecisiete" "fotodiecisiete" "titulodieciocho" "fotodieciocho" "titulodiecinueve" "fotodiecinueve" "tituloveinte" "fotoveinte" "tituloveintiuno" "fotoveintiuno" "tituloveintidos" "fotoveintidos" "tituloveintitres" "fotoveintitres" "tituloveinticuatro" "fotoveinticuatro" "pieDePagina";
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  .grillaDeGaleria {
    grid-template-areas: "cabecera cabecera" "titulouno titulodos" "fotouno fotodos" "titulotres titulocuatro" "fototres fotocuatro" "titulocinco tituloseis" "fotocinco fotoseis" "titulosiete tituloocho" "fotosiete fotoocho" "titulonueve titulodiez" "fotonueve fotodiez" "tituloonce titulodoce" "fotoonce fotodoce" "titulotrece titulocatorce" "fototrece fotocatorce" "tituloquince titulodieciseis" "fotoquince fotodieciseis" "titulodiecisiete titulodieciocho" "fotodiecisiete fotodieciocho" "titulodiecinueve tituloveinte" "fotodiecinueve fotoveinte" "tituloveintiuno tituloveintidos" "fotoveintiuno fotoveintidos" "tituloveintitres tituloveinticuatro" "fotoveintitres fotoveinticuatro" "pieDePagina pieDePagina";
    grid-template-rows: repeat(26, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .grillaDeGaleria {
    grid-template-areas: "cabecera cabecera" "titulouno titulodos" "fotouno fotodos" "titulotres titulocuatro" "fototres fotocuatro" "titulocinco tituloseis" "fotocinco fotoseis" "titulosiete tituloocho" "fotosiete fotoocho" "titulonueve titulodiez" "fotonueve fotodiez" "tituloonce titulodoce" "fotoonce fotodoce" "titulotrece titulocatorce" "fototrece fotocatorce" "tituloquince titulodieciseis" "fotoquince fotodieciseis" "titulodiecisiete titulodieciocho" "fotodiecisiete fotodieciocho" "titulodiecinueve tituloveinte" "fotodiecinueve fotoveinte" "tituloveintiuno tituloveintidos" "fotoveintiuno fotoveintidos" "tituloveintitres tituloveinticuatro" "fotoveintitres fotoveinticuatro" "pieDePagina pieDePagina";
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}
.grillaDeFormulario {
  grid-template-areas: "cabecera" "formulario" "pieDePagina";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, auto);
  height: 100%;
}
.grillaDeFormulario .fondo--formulario {
  background-image: url("../imagenes/fondo_form.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
.grillaDeFormulario .fondo--formulario .formulario {
  text-align: center;
  grid-area: formulario;
}
.grillaDeFormulario .fondo--formulario .formulario .enviar {
  cursor: pointer;
  background-color: #1033a3;
  color: white;
  transition: padding 0.5s;
}
.grillaDeFormulario .fondo--formulario .formulario .enviar:hover {
  padding: 2px;
}
.grillaDeFormulario .fondo--formulario .formulario .azul {
  background-color: #1033a3;
  color: white;
}
.grillaDeFormulario .fondo--formulario .formulario .blanco {
  color: white;
}
.grillaDeFormulario .fondo--formulario::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.6;
}
.grillaDeFormulario .formulario,
.grillaDeFormulario .pieDePagina {
  position: relative;
}/*# sourceMappingURL=styles.css.map */